
@{
    ViewBag.Title = "ELN";
    Layout = "~/Views/Shared/_TheloaiLayoutPage1.cshtml";
}
<link href="~/Content/Truyen2.css" rel="stylesheet" />
<h2 style="text-align:center">Em Là Niềm Kiêu Hãnh Của Anh</h2>
<div class="col-4">
    <div style=" width:30%;height:550px; float: right ">
        <div class="box-pro">
            <img src="~/Img-TL-ngontinh/em-la-niem-kieu-hanh-cua-anh.jpg" />
            <div class="box-description">
                <p class="margin-des">Tên Truyện: @Html.ActionLink("Em Là Niềm Kiêu Hãnh Của Anh", "ELN", "Truyenngontinh")</p>
                <p class="margin-des">Chương:32 </p>
                <p class="margin-des">Tác giả: Cố Mạn</p>
            </div>
        </div>

    </div>
    <div class="Tomtat">

        <h5>Thời trung học, anh không yêu cô là thật!</h5>
        <h5>Anh từng yêu một cô gái khác, đó là thật!</h5>
        <h5>Nhưng</h5>
        <h5>Năm anh ba mươi tuổi, anh đã cặm cụi viết thư, trả lời những câu hỏi của cô năm mười bảy tuổi. Điều đó là thật.</h5>
        <h5>Cuối cùng, anh và cô yêu nhau, anh và cô ở bên nhau. Điều đó cũng là thật...</h5>
        <p>Mười năm qua đi, Kiều Tinh Tinh ngoài ý muốn trở thành minh tinh,  hào quang rực rỡ, ở nơi đâu cũng có thể nhìn thấy. Mà nam thần trung học Vu Đồ ngày đó từ chối lời tỏ tình của cô dường như đã biến thành một người bình thường, mờ nhạt trong biển người trước mắt...</p>

        <h5>Cô ở trong hồng trần lăn lộn giữa danh lợi, còn người ấy vẫn như xưa, ánh mắt trong trẻo nhìn thế gian.</h5>
        <h5>Thời gian trôi mau, anh vẫn như cũ luôn xuất chúng ở trong lòng em, liệu rằng giờ đây em có thể trở thành niềm kiêu hãnh của anh!</h5>
    </div>
    <div>
        <h1>Danh Sách Chương</h1>
        <h5>Chương 1</h5>
        <h5>Chương 2</h5>
    </div>
</div>


